
#navbar{
   background-color: #ff69b4;
   color: white;
   padding: 5px 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#logout{
   color: white;
   text-decoration: none;
   margin-left: 20px;
   background-color: #e6004c;
   padding: 8px 12px;
   border-radius: 5px;
   
}
#item1{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 3%;
}
#container{
    padding: 3%;
    display: flex;
    flex-direction: column;
    
}
#cakeCardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 30px;
    
}
.cakeCard{
    width: 220px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    overflow: hidden;  

    
}


.rs{
    color: #e91e63;
    margin: 5%;
    font-size: 20px;
}

.cakeCard:hover {
    transform: translateY(-5px);
}
.cakeCard img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}
.cakeTitle{
    font-weight: bold;
    font-size: 22px;
}
.addToCart{
    border: 1px solid #e91e63;
    border-radius: 6px;
    background-color: #e91e63;
    color: white;
    padding: 6px 12px;   
    text-align: center;
    display: inline-block;
}

.addToCart:hover {
      background-color: #c2185b;
    }
.cakeInfo{
    padding: 10px 15px;
}

#itemAdded{ 
    background-color: white;
    border-radius: 12px;
    padding: 30px 40px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 20px;
    color: #333;
    position: relative;    
    border-left: 8px solid #4caf50;
}

#cartPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
   
}
#closePopup{
    display: inline-block;
    font-size: 20px;
    color: gray;
    margin-top: 2%;
}